.notificationBlock {
  background-color: hsl(210, 60%, 98%);
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: 80%;
  margin-bottom: 8px;
  border-radius: 8px;
  position: relative;
}

.notificationBlock div p:first-child {
  margin-bottom: -8px;
}

.notificationBlock .avatar {
  width: 40px;
  height: 40px;
  margin: auto 15px;
}

.user {
  font-weight: bold;
  cursor: pointer;
}

.user:hover {
  color: hsl(219, 85%, 26%);
}

.action {
  color: gray;
}

.post {
  font-weight: bold;
  color: gray;
  cursor: pointer;
}

.post:hover {
  color: hsl(219, 85%, 26%);
}

.group {
  font-weight: bold;
  color: hsl(219, 85%, 26%);
  cursor: pointer;
}

.time {
  color: gray;
}

.dot {
  height: 7px;
  width: 7px;
  background-color: hsl(1, 90%, 64%);
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

.notificationBlock .picture {
 background-image: url('./assets/images/image-chess.webp');
 height: 45px;
 width: 45px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: absolute;
 right: 5%;
}

.notificationBlock .picture:hover {
  border: 2px solid hsl(219, 14%, 63%);
  border-radius: 10px;
}

@media (max-width: 500px) {
  .notificationBlock .info {
    max-width: 190px;
  }
}

@media (max-width: 400px) {
  .notificationBlock .info {
    max-width: 160px;
  }
}
